services:
  claude-service:
    build:
      context: ../..
      dockerfile: deploy/Dockerfile
    platform: linux/amd64
    container_name: agent_fleet_claude_service
    command: python -m workers.claude_service
    env_file:
      - ../../.env
    working_dir: /app
    network_mode: host
    volumes:
      - ../..:/app
    restart: unless-stopped

  bot:
    build:
      context: ../..
      dockerfile: deploy/Dockerfile
    platform: linux/amd64
    container_name: agent_fleet_bot
    command: python -m workers.bot
    env_file:
      - ../../.env
    working_dir: /app
    network_mode: host
    volumes:
      - ../..:/app
    restart: unless-stopped

  bot-consumer:
    build:
      context: ../..
      dockerfile: deploy/Dockerfile
    platform: linux/amd64
    container_name: agent_fleet_bot_consumer
    command: python -m workers.bot_consumer
    env_file:
      - ../../.env
    working_dir: /app
    network_mode: host
    volumes:
      - ../..:/app
    restart: unless-stopped
